

.tech-skill-tecn-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #82CFFA10;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 100%;
    gap: 4.25rem;
}